extends layout

script(src='/js/my.js')

block content
    h1= ticker
    table(class="table table-striped table-hover")
        thead
            th
            each item in ticker
                th= item 
            th Description
        each item in props
            tr
                th(scope="row" class="text-right")= item.name
                each item2 in item.val
                    td= item2
                td!= item.desc
    each item in ratings
        h3= item.ticker
        p!= item.content